<script type="text/ng-template" id="workouts.html">
  <%= render template: 'workouts/templates/workouts' %>
</script>

<%= render template: 'workouts/show' %>

<!-- <div ng-app="WorkoutApp">
  <div ng-view=true></div>
</div> -->
